<link rel="stylesheet" href="styles/common.css">
<div class="title control-group">	
	<h3>用户呼叫窗口</h3>
</div>
<msgbox messages="msgs"></msgbox>

<div class="row-fluid">
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>操作区</h3>
			</div>
			<div>
				<button class="btn-primary ">叫号</button>
			</div>
		</div>
	</div>
	<div class="col-md-2" ng-repeat="queue in queues">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>队列{{$index}}</h3>
			</div>
			<table class="table table-bordered table-hover">
				<tr>
					<th>序号</th>
					<th>姓名</th>
			    	<th>状态</th>
			    </tr>
			    <tr  ng-repeat="ticket in queue.tickets">
			        <td>
			    		{{ticket.seqId}}
			        </td>
			        <td>
			    		{{ticket.personId}}
			        </td>
			        <td>
			    		{{ticket.status |dictQueueStatusMap:dictQueueStatus}}
			        </td>
				</tr>
			</table>
		</div>
	</div>
 </div>




