<link rel="stylesheet" href="styles/common.css">
<div class="container col-md-5 col-md-offset-3">
	<div class="title">	
		<h3>配置当前类别</h3>
	</div>	
	<div class="list-group">
		<a ng-repeat="queueclass in config.queueClasses" 
			class="list-group-item" 
			ng-class="{true:'active',false:''}[queueclass.isSelected]"
			ng-click="config.toggleSelectQueueClass(queueclass)">{{queueclass.name}}
		</a>
	</div>
	<button type="button" data-toggle="modal" class="btn btn-primary " data-target="#mymodal" >全屏</button>
</div>
<div id="mymodal" class="modal fade  modal-fullscreen " role="dialog" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content ">
			<div class="modal-header">
				<h3 class="modal-title" id="editModalLabel">自助取号</h3>
			</div>
			<div class="modal-body"> 
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-default ">
						<div><msgbox messages="msgs"></msgbox> 	</div>
						<div class="panel-heading">
							<h3>当前活动队列<input type="text" class="form-control" ng-hide="config.compositMode===0" ng-model="externalPersonId" placeholder="请您刷卡取号"/></h3>
						</div>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>队列ID</th>
									<th>队列名称</th>
									<th></th>
							    </tr>
						    </thead>
						    <tbody ng-repeat="queueclass in getSelectedQueueClasses(config.queueClasses)">			    
							    <tr ng-repeat="queue in queueclass.queues">
							        <td>
							    		{{queue.id}}
							        </td>
							    	<td>
							    		{{queue.name}}
							        </td>
							        <td>
							    		<button type="button"   class="btn btn-primary " ng-click="fetchQueueNumber(queue.id)">取号</button>
							        </td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">	
		
		</div>
	</div>
</div>

<script>
$(function(){$('#mymodal').modal({
	keyboard:true
})});
</script>


 




