<link rel="stylesheet" href="styles/common.css">
<div class="container col-md-5 col-md-offset-3">
	<div class="title">	
		<h3>配置当前类别</h3>
	</div>
	<div class="input-group">
		<input type="text"  class="form-control" value="{{config.currentQueueClass.name}}">		 
		<div class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			类别
			</button>
			<ul class="dropdown-menu pull-right">
				<li ng-repeat="queueclass in config.queueClasses">
					<a ng-click="config.changeCurrent(queueclass)">{{queueclass.name}}</a>
				</li>
			</ul>
		</div>
	</div>
	<button type="button" data-toggle="modal" class="btn btn-primary " data-target="#mymodal" >全屏</button>
</div>
<div id="mymodal" class="modal fade  modal-fullscreen " role="dialog" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content ">
			<div class="modal-header">
				<h3 class="modal-title" id="editModalLabel">自助取号</h3>
			</div>
			<div class="modal-body"> 
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-default ">
						<div class="panel-heading">
							<h3>刷卡取号<input type="text" class="form-control" ng-model="personIdExternal"/></h3>
						</div>
						<table class="table table-bordered table-hover">
							<tr>
								<th>队列ID</th>
								<th>队列名称</th>
								<th></th>
						    </tr>
						    <tr ng-repeat="queue in queues">
						        <td>
						    		{{queue.id}}
						        </td>
						    	<td>
						    		{{queue.name}}
						        </td>
						        <td>
						    		<button type="button"   class="btn btn-primary " ng-click="">取号</button>
						        </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">	
		<msgbox messages="msgs"></msgbox> 	
		</div>
	</div>
</div>

<script>
$(function(){$('#mymodal').modal({
	keyboard:true
})});
</script>


 




