<form  name="dlgform" class="form-horizontal" ng-submit="saveChange(dlgform.$valid)" role="form" novalidate>
<editdlg module-name="队列类别" dlgid="editmodal" is-hide="{{isSaveCompleted}}"  >
	<div class="form-group" >
		<label  for="queueclassid" class="col-md-3 control-label">队列分类ID</label>
		<div class="col-md-4" >
		<span  name="queueclassid" >{{currentedit.newval.id}}</span>
		</div>
	</div>	
	<div class="form-group" >
		<label  for="queueclassname" class="col-md-3 control-label">队列分类<span class="star">*</span></label>
		<div class="col-md-4 controls" ng-class="{'has-error': (submitInvalid && dlgform.queueclassname.$invalid) || (dlgform.queueclassname.$invalid && !dlgform.queueclassname.$pristine)}">
		<input type="text" class="form-control" id="queueclassname"  name="queueclassname" ng-model="currentedit.newval.name" required placeholder="请输入队列类别"/>
		<p ng-show="( dlgform.queueclassname.$invalid) || (dlgform.queueclassname.$invalid && !dlgform.queueclassname.$pristine)" class="help-block">队列类别必填。</p>
		</div>
	</div>
	<div class="form-group" >
		<label  for="queueclassmode" class="col-md-3 control-label">队列模式</label>
		<div class="col-md-4">
			<dropdownlist  id="queueclassmode" name="queueclassmode" 
			menu-Items = "ddlQueueClassMode.menuItems"
			show-In-Menu-Item-Names = "ddlQueueClassMode.showInMenuItemNames"
			show-Top-Name = "{{ddlQueueClassMode.showTopName}}"
			selected-Item = "ddlQueueClassMode.selectedItem"
			></dropdownlist>
		</div>
	</div>	
</editdlg>
</form>

<div class="title control-group">	
	<button type="button" data-target="#editmodal" data-toggle="modal"  class="btn btn-primary pull-right" ng-click="changeEditMode('create')">新建</button>
	<h3>队列类别</h3>
</div>
<msgbox messages="msgs"></msgbox>
<table class="table table-bordered table-hover">
	<tr>
		<th>队列分类ID</th>
		<th>队列分类名称</th>
		<th>模式</th>
    	<th></th>
    </tr>
    <tr ng-repeat="queueclass in queueclasses">
        <td>
    		{{queueclass.id}}
        </td>
    	<td>
    		{{queueclass.name}}
        </td>
        <td>
    		{{queueclass.mode | translateMode:translateQueueClassMode}}
        </td>
        <td>
        	<edit ng-Model="queueclass"  edit-data="currentedit" ng-click="changeEditMode('edit')"><a data-target="#editmodal" data-toggle="modal"  href="javascript:void(0);">编辑</a></edit>
          | <delete ng-Model="queueclass" del-data="currentedit" ng-click="changeEditMode('del')"><a data-target="#delmodal" data-toggle="modal" href="javascript:void(0);">删除</a ></delete>
		</td>
	</tr>
</table>
<deletedlg dlgid="delmodal" is-hide="{{IsHideModal}}" do-del="deletecur()">
	<table class="table table-bordered table-hover">
	    <tr>
		    <td>ID</td>
		     <td>
		 		{{currentedit.newval.id}}
		     </td>
	    </tr>
	    <tr>
		    <td>名称</td>
		 	<td>
		 		{{currentedit.newval.name}}
		     </td>
	    </tr>
	</table>
</deletedlg>




