<link rel="stylesheet" href="styles/common.css">
<div class="title control-group">	
	<button type="button" class="btn btn-primary pull-right" ng-click="saveChange()">保存修改</button>
	<h3>设置用户的可登录窗口</h3>
</div>
<msgbox messages="msgs"></msgbox>
 
<div class="row">
	<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>用户列表</h3>
		</div>
		<table class="table table-bordered table-hover">
			<tr>
				<th>用户ID</th>
				<th>姓名</th>
				<th>登录名</th>
				<th>用户编号</th>
		    	<th></th>
		    </tr>
		    <tr ng-repeat="user in users" ng-click="selectCurrentUser(user)" ng-class="{'selected':user==currentUser}">
		        <td>
		    		{{user.id}}
		        </td>
		    	<td>
		    		{{user.name}}
		        </td>
		       <td>
		    		{{user.loginid}}
		        </td>
		    	<td>
		    		{{user.empcode}}
		        </td>
			</tr>
		</table>
	</div>
	</div>
	<div class="col-md-6">
	<div class="panel panel-default ">
		<div class="panel-heading">
			<h3>窗口列表</h3>
		</div>
		<table class="table table-bordered table-hover">
			<tr>
				<th></th>
				<th>窗口ID</th>
				<th>窗口</th>
		    </tr>
		    <tr ng-repeat="callwindow in windows">
		    	<td>		    
		    		<input type="checkbox"  ng-model="callwindow.selected" ng-true-value="true" ng-false-value="false"/>
		    	</td>
		        <td>
		    		{{callwindow.id}}
		        </td>
		    	<td>
		    		{{callwindow.name}}
		        </td>
			</tr>
		</table>
	</div>
	</div>
</div>
 




